<mat-sidenav-container class="app-container" *ngIf="!isLoginRoute; else loginLayout">
  <mat-sidenav #sidenav class="app-sidenav" mode="side" [(opened)]="isSidebarOpen">
    <div class="sidebar-header">
      <img src="assets/logo.png" alt="Spendyze Logo" class="logo desktop-only" />
      <span class="app-name mobile-only">Spendyze</span>
    </div>
    <mat-nav-list>
      <a mat-list-item (click)="navigateTo('/dashboard')">
        <mat-icon>dashboard</mat-icon><span>Dashboard</span>
      </a>
      <a mat-list-item (click)="navigateTo('/income')">
        <mat-icon>trending_up</mat-icon><span>Income</span>
      </a>
      <a mat-list-item (click)="navigateTo('/expenses')">
        <mat-icon>trending_down</mat-icon><span>Expenses</span>
      </a>
      <a mat-list-item (click)="navigateTo('/accounts')">
        <mat-icon>trending_down</mat-icon><span>Accounts</span>
      </a>
      <a mat-list-item (click)="navigateTo('/reports')">
        <mat-icon>bar_chart</mat-icon><span>Reports</span>
      </a>
      <a mat-list-item (click)="navigateTo('/settings')">
        <mat-icon>settings</mat-icon><span>Settings</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="app-toolbar">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="title">Spendyze</span>
      <span class="spacer"></span>
      <button  mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>person</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button  (click)="logout()" mat-menu-item>
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar>

    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #loginLayout>
  <router-outlet></router-outlet>
</ng-template>
<div class="loader-overlay" *ngIf="isLoading | async">
  <mat-spinner [diameter]="40" mode="indeterminate"></mat-spinner>
</div>